html.dark {
  @apply [color-scheme:dark];
}

body {
  @apply font-open-sans text-slate-700 antialiased bg-slate-50 text-sm;
  @apply dark:bg-slate-900 dark:text-slate-300;
}

/* headings */
h1 {
  @apply text-3xl font-inter;
}

h2 {
  @apply text-2xl font-inter;
}

h3 {
  @apply text-xl font-inter;
}

/* links */
a.link {
  @apply text-blue-500 hover:text-blue-600;
}

.content-container {
  @apply flex flex-col gap-2;
}

